.secondary-menu
	.wrapper.clearfix
		//show the 
		.logo 
			= link_to 'recent', recent_articles_path
			= link_to 'trending', trending_articles_path

		.nav-links= link_to 'New Article', new_article_path, class: "button button-primary-outline"
//this is content are
.wrapper.clearfix
	.left_panel
		- @articles.each do |article|
			.content
				= link_to simple_format(truncate(article.post, :length => 250, :escape => false)), article, class: "truncated"
				
				.footer.clearfix
					.time
						posted by 
						= image_tag article.user.avatar.url(:thumb), height: "16", width: "16"
						= link_to article.user.name, profile_path(article.user)
						= time_ago_in_words(article.created_at)
						%span
							ago

					.social
						%span
							%i.fa.fa-comments-o
							= article.comments.count 
						%span
							%i.fa.fa-heart-o
							= article.votes_for.size
	.right_panel
		.contents
			.header
				%h5 Groups you might like

			.body
				- @random_groups.each do |rand_group|
					= link_to rand_group.name, rand_group, class: "item"

		.contents
			.header
				%h5 Moms to follow
			.body
				-@random_users.each do |rand_user|
					.item
						= image_tag rand_user.avatar.url(), height: "50", width: "50"
						= link_to rand_user.name, profile_path(rand_user)
						

	
			
